.appetizer-section .slider {
  display: flex;
  overflow-x: hidden; 
  scroll-snap-type: none; 
}

.appetizer-section .slider picture {
  width: 400px; 
  height: 600px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.appetizer-section button {
  margin-left: 1rem;
  transform: translateY(-50%);
}

.appetizer-section button:nth-child(2) {
  right: 35%;
}

.appetizer-section button:nth-child(3) {
  left: 45%;
}

.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3.5rem;
}

.icon-btn{
  width: 5rem;
  height: 5rem;
  border: none;
  color: #367d87;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
  background-color: transparent;
  cursor: pointer;
}

.icon-btn:hover {
  color: #ffffff; 
  background-color: #367d87; 
  outline: none;
}

.icon-btn:active {
  transform: scale(0.95);
}

@media (min-width: 769px){
  .appetizer-section .slider{
    justify-content: center;
  }
}


@media (max-width: 768px){
  .appetizer-section .slider {
    width: 35rem;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .appetizer-section .slider picture {
    flex: 0 0 auto; 
    width: 400px; 
    scroll-snap-align: start; 
    margin-right: 10px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .appetizer-section button {
    display: none;
  }
}