.menu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.h2-menu{
  color: #367d87;
  font-size: 5rem;
}

.section-menu img{
  width: 55.5rem;
  height: 86.4rem;
}

.section-menu{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 10rem;
}


@media (max-width: 768px) {
  .section-menu img{
    width: auto;
    height: auto;
  }
  .h2-menu{
  font-size: 2rem;
}
}