.privacy-policy {
  background-color: #f1f1f1;
  padding: 20px;
  min-height: 100vh;
}

.privacy-policy h1,
.privacy-policy h2 {
  font-family: 'Cursive', sans-serif;
}

.privacy-policy p {
  margin-bottom: 1rem;
}

.privacy-policy a {
  color: #367d87;
}

.privacy-policy button {
  font-family: 'Cursive', sans-serif;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #367d87;
  color: #367d87;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.privacy-policy button:hover {
  background-color: #367d87;
  color: #ffffff;
}

@media (max-width: 768px) {
    .privacy-policy {
        margin: 5% 5%; 
    }
    .privacy-policy h1 {
        font-size: 1.5rem;
    }
    .privacy-policy h2 {
        font-size: 1.2rem;
    }
    p {
        font-size: 0.9rem;
    }
    .privacy-policy button {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }
}