.h2-valentin{
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
    color: #367d87;
}

.p-valentin{
    font-weight: bold;
    margin-top: 20px;
    font-size: 3rem;
    text-align: center;
}

.img-stvalentin{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img-stvalentin img{
    max-width: 100%;
    object-fit: contain;
}