.contact-section{
    padding: 20px;
    line-height: 30px;
    background-color: #f2f3f4;
    display: flex;
    width: 120rem;
    justify-content: space-around;
}


@media (max-width: 1024px) {
  .contact-section{
    flex-direction: column;
    width: 54.3rem;
    font-size: 2rem;
  }

.address{
    padding-bottom: 2rem;
}
}

@media (max-width: 768px) {
  .contact-section{
    flex-direction: column;
    width: 35rem;
    font-size: 1.5rem;
  }
}