.header .img-container{
  display: flex;
  justify-content: center;
  position: relative;
}

.header img{
    /* width: 1478.7px;
    height: 834.2px; */
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.img-container img{
  width: 100%;
  height: auto;
}

.image-overlay-title {
  position: absolute; 
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  text-align: center;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}


@media (max-width: 1024px) {
  .image-overlay-title {
    font-size: 8rem;
  }
}


@media (max-width: 768px) {
  .header img{
    min-width: 35rem;
    width: 100%;
  }
  .image-overlay-title {
    font-size: 4rem;
  }
}
