.section-img-season {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  gap: 5px;
  margin-bottom: 5rem;
}

.section-img-season .img-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-img-season img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transition: transform 0.5s ease;
}

.section-img-season .season-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.5); 
  font-size: 2em; 
  pointer-events: none; 
}

.section-img-season .img-container:hover .season-text {
  opacity: 1;
}

.section-img-season .img-container:hover img {
  transform: scale(1.05); 
}

@media (max-width: 1024px) {
  .section-img-season .season-text{
    font-size: 1em;
  }
  .section-img-season, .section-img-season .img-container, .section-img-season img {
    max-width: 53rem;
    margin-left: auto;
    margin-right: auto;
  }
  .section-img-season {
    grid-template-columns: 1fr;
  }
  .section-img-season .img-container:hover .season-text{
    opacity: 0;
  }
  .section-img-season .img-container:hover img {
    transform: none; 
  }
}

@media (max-width: 768px) {
  .section-img-season, .section-img-season .img-container, .section-img-season img {
    min-width: 35rem;
  }
  .section-img-season {
    grid-template-columns: 1fr;
  }
  .section-img-season .img-container:hover .season-text{
    opacity: 0;
  }
  .section-img-season .season-text{
    opacity: 1;
  }
  .section-img-season .img-container:hover img {
    transform: none; 
  }
}
